{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class = "container">
    {% if user.is_authenticated %}
    <br>
    <center><h1>Your Donation History</h1></center>
    <hr>
    <div class = "row">
        <div class = "container-fluid">
            {% if user.is_authenticated %}
            <div class="table-responsive">
            <table class="table table-hover table-striped table-bordered" align="center">
                <thead class="thead-light">
                <tr class="table" align="center">
                    <th scope="col" class="align-middle"> Nama</th>
                    <th scope="col" class="align-middle"> Program</th>
                    <th scope="col" class="align-middle"> Jumlah Donasi</th>
                </tr>
                </thead>
                <tbody>
                    {% for i in donationHistory %}
                    <tr>
                        <td>{{i.fullname}}</td>
                        <td>{{i.amount}}</td>
                        <td>{{i.program}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

