{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container">
  <div class="row">
    <div class="col-sm">
      <br>
      <center><img class="p-2 img-fluid" src="{{ program.picture }}" ></center>
      <br>
      <p>{{ program.news }}</p>
    </div>
    
    </div>
  </div>


{%endblock%}

