{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container">
  <div class="row">
    <div class="col-sm">
      <br>
      <center><img class="p-2 img-fluid" src="{{ program.picture }}" ></center>
      <br>
      <p>{{ program.news }}</p>
    </div>
    <div class="col-sm">
      <div class="container">
      <br>
      <div>
        <a href="{% url 'donationinput' %}">
        <button type="button" class="btn btn-primary btn-lg btn-block">Donate This Project</button>
      </a>
      </div>
      <br>
      <div class="card">
        <h5 class="card-header text-center">Rp{{ program.total }}</h5>
        {% for i in dtot %}
        <div class="card-body">
          <h5 class="card-title">{{i.dtot}}</h5>
          <h4 class="card-text">{{target}}</h4>
          {% endfor %}
        </div>
      </div>
      <br>
      <div class="card w-50">
        <div class="card-body">
          {% for i in donate %}
          <h5 class="card-title">{{i.user}}</h5>
          <p class="card-text">{{i.donate}}</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}