{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'mystyle.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
               <!-- jQuery Modal -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
        <script type="text/javascript" src="{% static 'script.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

        <title>Sinar Perak</title>
    </head>
    <body>
        <nav class="navbar-expand navbar-light">
            <div class="container-fluid d-flex justify-content-between border-bottom border-info">
                <div class="p-3">
                    <ul class="nav navbar-nav">
                        <li class="nav-item mr-auto"><a class="nav-link" href="{% url 'donations' %}">Donate Now</a></li>
                        <li class="nav-item mr-auto"><a class="nav-link" href="{% url 'testimoni' %}">About</a></li>
                    </ul>
                </div>
                <div class="p-2">
                    <a href="{% url 'index' %}"><img class="navbar-brand" src="{% static 'img/qlogo.png' %}" width="50" height="60"></a>
                </div>
                <div class="p-3">
                    <ul class="nav navbar-nav">
                        <li class="nav-item mr-auto"><a class="nav-link" href="{% url 'member' %}">Register</a></li>
                        {% if user.is_authenticated %}
                            <li  class="nav-item mr-auto"><a id="logout_nav" class="nav-link" href="{% url 'user_logout' %}">Logout</a></li>
                            <img class="ml-3" id="profile_pic" src="{{ srcimage }}">
                        {% else %}
                            <li class="nav-item mr-auto"><a id="login_button" class="nav-link" href="{% url 'loginpage' %}">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        {% block content %}
        {% endblock %}

        <div id="ex1" class="modal">
            <p class="lead">Please Login.</p>
            <a class="mt-3 btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}">Login</a>
        </div>
        <div class="container-fluid footer">
            <div class="row">
                <div class="col-sm-12 col-md-6 pt-4 pl-4">
                    <p class="p-2">© 2018 SinarPerak</p>
                </div>
                <div class="col-sm-12 col-md-6 pr-3 pt-3">
                    <div class="row text-right">
                        <div class="col-12">
                            <img class="img-fluid logo" src="{% static 'img/walogo.png'%}">
                            <img class="img-fluid logo" src="{% static 'img/linelogo.png'%}">
                            <img class="img-fluid logo" src="{% static 'img/telegramlogo.png'%}">
                        </div>
                        <div class="col-12">
                            <p>0857 73100 876</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <style>
        .logo {
            height:3rem;
        }
    </style>
{% block script %}{% endblock script %}

</html>