{% extends 'base.html' %}
{% load static %}





{% block content %}
<style type="text/css">
.jumbotron {
    /*text-align: center;*/
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-shadow: 2px 2px #000;
}

.lead span {
    color: orange;
    font-weight: bold;
}

.bg-cover {
    color: white;
    background-position: center center;
    position: relative;
    z-index: -2;
}

.overlay {
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.bg-cover {
    background-size: cover;
    background-image: url('https://files.catbox.moe/f1nz31.jpg');
}
</style>



  
    <div class="jumbotron jumbotron-fluid bg-cover">
        <div class="overlay"></div>
        <div class="container">
            <h1 class="display-3 mb-1" align="center">What is SinarPerak?</h1>
            <p class="lead" align="center">SinarPerak is a platform for renowned crowdfunding and online donation in Indonesia</p>
        </div>
    </div>

    <div class="jumbotron-fluid p-4 border-bottom border-info">
    <div class="container">
        <h1 class="display-4" align="center">Who are we?</h1>
    </div>
    </div>

<div class="card">
  <div class="card-header" align="center">
    Connecting us withou facing
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0" >
      Since 2013, we have provided an online platform and technology for individuals, communities, organizations and companies (we call #OrangBaik) who want to:<br> Raising funds by creating an online donation page (we call the campaign page) for various social, personal, creative and other purposes.<br>Donate anytime online to the campaigns on Kitabisa according to the category or organization he cares about.<br>With the spirit of mutual cooperation connecting goodness, we can implement an open platform policy. This means that within minutes anyone can make a donation page at Kitabisa as long as they complete the verification requirements for identity and do not violate the law in Indonesia. Learn more in our Terms & Conditions and FAQ.
    </blockquote>
  </div>
</div>  

<div class="card">
  <div class="card-header" align="center">
    Our financial operational
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0" >
      As a social enterprise startup, you can charge an administration fee of 5% of the total donations in a campaign, except for natural disaster and zakat campaigns (0% administration fees). With this model, we can focus on developing technology and services to continue to facilitate fundraising and donation activities in Indonesia and the world.<br>For more details, please check the Feature & Pricing page.
    </blockquote>
  </div>
</div>   

<div class="jumbotron-fluid p-4 border-bottom border-info">
<div class="container">
    <h1 class="display-4" align="center">Testimonial</h1>
</div>
</div>

<div class="row" align="center">
<div class="container-fluid">
    <div class="row" id="row">
            {% for i in testi %}
            <div class="col-sm-12 col-md-4">
            <div class="card border-info mx-auto m-4" style="width:17rem">
                <div class="card-body" id="komen">
                    <p class="card-text">{{ i.komen }}</p>
                    <p class="lead" align="center"><strong>{{ i.nama }}</strong></p>
                </div>
            </div>
            </div>
            {% endfor %}
    </div>
</div>
</div>

<div class="jumbotron-fluid p-4 border-bottom border-info">
<div class="container">
    <h1 class="display-4" align="center">Insert testimonial</h1>
</div>
</div>

{% if user.is_authenticated %}
<div class="row" align="center">
    <div class="container" align="center" >
            <form id="form_submit" action=" " method="POST" >
                
                {% csrf_token %}
                {{ form.nama }}
                {{ form.komen }}
                <input id="submitbutton" class="btn btn-primary" type="submit" value="Submit">
            </form>
            
    </div>
</div>
{% else %}
<p>Login to give us testimonies...</p>
{% endif %}


{% block script %}


<!-- <script type="text/javascript">
   $(document).ready(function() {
        showTesti();
    });
                      
    function showTesti() {
        $.ajax({
            type: 'GET',
            url:'/about',
            data: {
                'nama': $('id_nama').val()
                'komen': $('id_komen').val()
            },
            success: function(data){
                var testi_cards = '<div class="maTesti row">';
                $.each(data, function(key, value){
                    testi_cards += '<div class="col-sm-12 mb-4">';
                    testi_cards += '<div class="card">';
                    testi_cards += '<div class="card-body">';
                    testi_cards += '<h5 class="card-title">'+ value.name +'</h5>';
                    testi_cards += '<h6 class="card-subtitle mb-2 text-muted">'+ value.description +'</h6>';
                    testi_cards += '</div></div></div>';
                    
                });

                $(".maTesti").remove();
                $('#testimoni-container').append(testi_cards);  

            } 
        });
    }
</script> -->


<!-- <script>
var commentbox = [];
var lastLoad = 0;
function getKomen(bool) {
    if (!bool) {
        $.get("/about/api/", function(data){
            console.log("MASUK AJAX")
            var komentar = data;
            for (lastLoad; lastLoad < komentar.length;  lastLoad++) {
                console.log(lastLoad);
                commentbox.push("<blockquote class='blockquote'><p>" + komentar[lastLoad].komen + "</p><footer class='blockquote-footer'>" + komentar[lastLoad].nama + "</footer></blockquote><hr>")
            }
            $(".komen").append($(commentbox.join('')));
        });
    } else {
        $.get("/about/api/", function(data) {
            var komentar = data.comments;
            $(".komen").append("<blockquote class='blockquote'><p>" + komentar[komentar.length-1].komen + "</p><footer class='blockquote-footer'>" + komentar[komentar.length-1].name + "</footer></blockquote><hr>")
        })
    }
    
}

function() {
    var csrftoken = Cookies.get('csrftoken');
    getKomen(false)

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }


    $("#form_submit").on("submit", function(event){
        event.preventDefault()
        console.log("Masuk Button");

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });


        $.post("/about/",{
            "nama" : $("#nama").val(),
            "komen" : $("#komen").val(),
        } ,function(data) {
            console.log("MASUK AJAX")
            setTimeout(function() {
                getComments(true);
            }, 1000);
        })
    });
};
</script> -->
{% endblock script %}

{% endblock %}