{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col">
            <center>
                <div class="mt-5 card" id="login_card">
                    <div class="card-body">
                        <h5 class="card-title">Please login to the site</h5>
                        <a class="mt-3 btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}">Login</a>
                    </div>
                </div>
            </center>
        </div>
    </div>
</div>
<style>
.footer {
    position: fixed;
    bottom: 0;
}
</style>
{% endblock %}