{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="jumbotron-fluid">
    <div class="d-flex flex-column align-items-center justify-content-center" style="height: 72vh">
    {% if user.is_authenticated %}
        <h1 class="display-4">Hello {{ user.first_name }} {{ user.last_name }}<br></h1>
        <blockquote class="blockquote mt-5">
            <p class="mb-0">Fundraising is the gentle art of teaching the joy of giving.</p>
            <footer class="blockquote-footer">Hank Rosso <cite title="Source Title">keyfundraising.com</cite></footer>
        </blockquote>
    {% endif %}
    </div>
</div>
<script>
sessionStorage.setItem('status','in');
</script>
{% endblock %}