{% extends 'base.html' %}
{% load static %}

{% block content %}

<style type="text/css">
.jumbotron {
    /*text-align: center;*/
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-shadow: 2px 2px #000;
}

.lead span {
    color: orange;
    font-weight: bold;
}

.bg-cover {
    color: white;
    background-position: center center;
    position: relative;
    z-index: -2;
}

.overlay {
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}
    .bg-cover {

        background-size: cover;
        background-image: url('https://ton.twitter.com/i/ton/data/dm/1052804854517653508/1052804702658842624/6yAysHGl.jpg:large');
        background-image: url('https://files.catbox.moe/f1nz31.jpg');

</style>



  
    <div class="jumbotron jumbotron-fluid bg-cover">
        <div class="overlay"></div>
        <div class="container">
            <h1 class="display-3 mb-1">SinarPerak</h1>
            <p class="lead">Let us give our hands for <br>those in need.<br> A coin is very valuable to them.<br>Start clicking the "DONATE" button</p>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2 align="center">Choose a campaign you want to help</h2>
            </div>
        </div>
    </div>



<div class="row">
    <div class="container-fluid">
        <div class="row">
                {% for i in news %}
                <div class="col-sm-12 col-md-4">
                <div class="card border-info mx-auto m-4" style="width:17rem">
                    <img class="card-img-top" src="{{ i.picture }}">
                    <div class="card-body">
                        <p class="lead">{{ i.program }}</p>
                        <p class="card-text">{{ i.description }}</p>
                        <div class="card-body-fluid text-center">
                            
                            
                            {% if user.is_authenticated %}
                                <a href="{% url 'story' i.program %}"  class="btn btn-info donate-button">Donate</a>
                            {% else %}
                                <a href="#ex1" rel="modal:open" class="btn btn-info donate-button">Donate</a>
                            {% endif %}

                            <a href="{% url 'news' i.program %}" class="btn btn-info">News</a>
                        </div>
                    </div>
                </div>
                </div>
                {% endfor %}
        </div>
    </div>
</div>
<div class="d-flex justify-content-center"> <a href="{% url 'donations' %}" class="btn btn-info">See More</a> </div>

{% endblock %}
